# {{ ansible_managed }}
# /etc/cron.d/nsupdate: crontab entries for nsupdate
#
# see https://nsupdateinfo.readthedocs.io/en/latest/admin.html#regular-jobs 
#
PYTHONPATH=/etc/nsupdate.info
DJANGO_SETTINGS_MODULE=local_settings
# reinitialize the test user:
50 2 * * * www-data /srv/nsupdate.info/env/bin/python /srv/nsupdate.info/env/bin/django-admin.py testuser
# reset the fault counters:
55 2 * * 6 www-data /srv/nsupdate.info/env/bin/python /srv/nsupdate.info/env/bin/django-admin.py faults --flag-abuse=150 --reset-client --notify-user
# clear expired sessions from the database, use your correct settings module:
0  3 * * * www-data /srv/nsupdate.info/env/bin/python /srv/nsupdate.info/env/bin/django-admin.py clearsessions
# clear outdated registrations:
30 3 * * * www-data /srv/nsupdate.info/env/bin/python /srv/nsupdate.info/env/bin/django-admin.py cleanupregistration
# check whether the domain nameservers are reachable / answer queries:
0  4 * * * www-data /srv/nsupdate.info/env/bin/python /srv/nsupdate.info/env/bin/django-admin.py domains --check --notify-user

